body {
	font-family: Helvetica, Arial, sans-serif; 
	padding-top: 60px;
	padding-bottom: 40px;
	background: url("../images/body_bg_home.jpg") repeat-x;
	background-position-x: left;
	background-position-y: top;
}

div.nav-collapse img {
	float: left;
	margin-top: 10px;
}

div.nav-collapse .nav {
	margin-left: 30px;
}

.zf-green {
	color: #0070C0;
}

.button a {
	text-decoration: none;
}

.button {
	text-align: center;
	/* text-shadow: 0 1px 0 #FFFFFF;*/
	background-color: #0070C0;
	background-image: -moz-linear-gradient(top, #CCCCCC, #0070C0);
	/*	background: -moz-linear-gradient(center top , #CCCCCC, #0070C0) repeat scroll 0 0 transparent;*/
	background-image: -ms-linear-gradient(top, #CCCCCC, #0070C0);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CCCCCC),
		to(#0070C0) );
	background-image: -webkit-linear-gradient(top, #CCCCCC, #0070C0);
	background-image: -o-linear-gradient(top, #CCCCCC, #0070C0);
	background-image: linear-gradient(top, #CCCCCC, #0070C0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCCCCC',
		endColorstr='#0070C0', GradientType=0 );
	padding: 5px;
    border-radius: 5px 5px 5px 5px;
	border: 1px solid #AAAAAA;
	font-size: medium;
	color: white;
}

.button:hover,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]
	{
	background-color: #0070C0;
	color: black;
}

.button:active,.btn-success.active {
	background-color: #0070C0;
	color: black;
}

div.container a.brand {
	background: url("../images/zf2-logo.png") no-repeat scroll 0 10px
		transparent; */
	margin-left: 0;
	padding: 8px 20px 12px 40px;
}
.zend_form {
	width: 600px;
	heigth: 200px;	
	float: left;
}
.oneplan_logo {
	width: 800px;
	heigth: 250px;
	float: left;
}
.wrapper {
	width: 1024px;
	margin-left: 0%;
}
